<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% csrf_token %}
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Geocrowd</title>
<link rel="stylesheet" type="text/css" href="{% static "view.css" %}" media="all">
<script type="text/javascript" src="{% static "view.js" %}"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="{% static "top.png" %}" alt="">
	<div id="form_container">
	
		<h1><a>Geocrowd</a></h1>
		<form id="form_617164" class="appnitro">
					<div class="form_description">
			<h2>Geocrowd</h2>
			<p></p>
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">First Name </label>
		<div>
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Last Name </label>
		<div>
			<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Username </label>
		<div>
			<input id="element_3" name="element_3" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">E-mail </label>
		<div>
			<input id="element_4" name="element_4" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Password </label>
		<div>
			<input id="element_5" name="element_5" class="element text medium" type="password" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Gender </label>
		<span>
			<input id="element_7_1" name="element_7" class="element radio" type="radio" value="M" checked/>
<label class="choice" for="element_7_1">Male</label>
<input id="element_7_2" name="element_7" class="element radio" type="radio" value="F" />
<label class="choice" for="element_7_2">Female</label>

		</span> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Upload a Picture </label>
		<div>
			<input id="element_6" name="element_6" class="element file" type="file"/> 
		</div>  
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="617164" />
			    
				<input id="saveForm" class="button_text" type="button" name="submit" value="Join" />
		</li>
			</ul>
		</form>	
	</div>
	<img id="bottom" src="{% static "bottom.png" %}" alt="">
	</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/jquery-1.9.1.min.js"><\/script>')</script>
<script type="text/javascript" src="{% static "submit.js" %}"></script>
</html>
